name: Auto Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Zip the application
        run: zip -r SnipeScheduler-FleetManager-${GITHUB_REF_NAME}.zip . -x "*.git*" ".github*"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: SnipeScheduler-FleetManager-*.zip
          generate_release_notes: true
